<a href="https://colab.research.google.com/github/JangHyoJoon-dev/OSS_CLass/blob/main/Colaboratory_test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

$ M_{c,o,i,j}

In [ ]:
date_input = '2018-03-01'#@param { type : "date"}

In [4]:
import pandas as pd

pd.read_csv('/content/real_estate.csv', encoding = 'CP949')

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987,언주로 3,NaN,중개거래,서울 강남구
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987,언주로 3,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987,언주로 3,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,1,"369,000",13,2020,개포로 264,NaN,중개거래,"서울 강남구, 서울 양천구"
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,2,"420,000",17,2020,개포로 264,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13846,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202207,20,"74,000",3,1997,동일로 752,NaN,중개거래,서울 중랑구
13847,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),84.03,202207,27,"91,500",12,1997,동일로 752,NaN,중개거래,서울 중랑구
13848,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),50.37,202302,8,"52,000",8,1997,동일로 752,NaN,중개거래,서울 중랑구
13849,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202204,9,"49,900",7,2003,동일로144길 74,NaN,중개거래,서울 중랑구
13850,서울특별시 중랑구 중화동,11월 07일,11.0,7.0,현대휴앤미(102동),76.43,202204,23,"53,000",6,2007,봉화산로27가길 19,NaN,중개거래,서울 중랑구